body {
    font-family: Papyrus, fantasy, serif;
    color: maroon;
    background-color: lightgrey;
}

h1 {
    font-size: 48px;
    color: maroon ;
}

img {
    max-width: 30%;
}

li p {
    font-size: 30px;
    font-weight: 700;
    background-color: hsla(22, 83%, 80%, .8);
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}